* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
#nav {
    font-size: smaller;
    background-color: #26272b;
}
.cart__svg {
    display: block;
    width: auto;
    height: 25px;
    color: gray;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-right: 20px;
}
/* navbar ends */

/* main starts */

.container1 {
    display: grid;
    margin: auto;
    gap: 25px;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
}
.container2 {
    display: grid;
    margin: auto;
    gap: 25px;
    padding: 50px;
    grid-template-columns: repeat(4, 1fr);
}
.container1 > div,
.container2 > div {
    font-size: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container1 h2,
.container2 h2 {
    font-size: 25px;
}
.container1 img {
    width: 50%;
    height: 200px;
    margin-bottom: 15px;
    /* border: 1px solid red; */
}
.container2 img {
    width: 100%;
    height: 200px;
}

.container1 button,
.container2 button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
}

.container1 button:hover,
.container2 button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(30, 144, 255, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
}

.container1 button:active {
    transform: translate(0em, 0.2em);
}
/* main ends */

/* footer starts */
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
/* footer ends */

/* media queries */

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}
.carousel {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 95%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 20px;
    width: 17%;
    height: 500px;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.product img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.product h3 {
    margin-top: 0;
    font-size: 20px;
}

.product .price {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.product .description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.product .buttons {
    margin-top: 5px;
}

.product .buttons button {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product .buttons button.add-to-cart {
    background-color: #4caf50;
    color: #fff;
}

.product .buttons button.view-details {
    background-color: #2196f3;
    color: #fff;
}

hr {
    margin: 40px 0;
    border: none;
    border-top: 2px solid #ccc;
}
